

.heading{
   
    padding-left: 450px;
     display:flex;
    align-content:center;
    flex-direction:column;
    position: absolute;
    top: -60px;
    font-size:4.6vw;
    color: rgb(2, 214, 150);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(7, 119, 194);
}
#excuse{
    padding-right: 900px;
    padding-left:60px;
    font-size: 4vw;
    padding-top: 100px;
    display:flex;
    align-content:center;
    flex-direction:column;
    position: absolute;
    top: 200px;
    color:rgb(243, 220, 10);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color:rgb(19, 212, 35);
    
}


body{
    background-image: url('./image/coolgrandma.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100vw;
    height:15vh;
    margin-top:600px;
}
