h2{
    display:flex;
    justify-content:center;
    font-size: 40px;
    color: white;
    
}
#excuse{
    padding-bottom:120px;
}
.heading{
    padding-top:100px;
    
}

.border{
    
    border: solid 10px;
    border-color:rgb(149, 156, 248) rgb(149, 156, 248) blue;
    border-radius: 20px;
    margin-top:150px;
    width:70%;
    margin-left: 180px;
    background-image: url("https://wallpapercave.com/wp/KUx1i3R.jpg")
}
