h2{
    font-size: 2.5vw;
    color: white;
   
}
.heading{
    padding-top:400px;
    padding-left: 32px;
}
#excuse{
    padding-left:35px;
    font-size: 1.8vw;
}
.border{
    display:flex;
    align-content:flex-start;
    flex-direction:column;
    position: absolute;
    top: 50px;
}
body{
    background-image: url('./image/grandma.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    width: 100vw;
    height:50vh;
    margin-top:600px;
}
